div {

    border: solid 1px black;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    overflow: auto;
    margin-top: 20px;

}

.div2 {

    border: solid 1px black;
    display: inline-block;
    font-size: 32px;
    font-family: Arial;
    overflow: auto;
    background-color: blueviolet;
    padding: 10px 10px 10px 10px;

}